name: "CI - Test Features"
on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'test/**'
      - '.github/workflows/test.yml'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4

      - name: "Install devcontainer CLI"
        run: npm install -g @devcontainers/cli

      - name: "Running tests for 'devcontainer-profile'"
        run: devcontainer features test -f devcontainer-profile --project-folder .

      - name: "Running scenario tests for 'devcontainer-profile'"
        run: devcontainer features test --scenarios test/devcontainer-profile --project-folder .
